* {
    margin: 0;
    padding: 0;
}




body {
    background-image: url(home-banner.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}


header {
    height: 90vh;
}


#cabecario {
    font-size: 12px;
    color: white;
    font-family: "poppins", sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-around;


    height: 9.5%;
    background: rgba(0, 0, 0, 0.5);
}


#botoes {
    margin-left: 450px;
    display: flex;
    justify-content: space-around;
    width: 30%;
}


#search {
    margin-left: 43px;
    height: 100%;
    fill: white;
    height: 1.5vh;
    width: 5%;
}


#botoes>a {
    text-decoration: none;
    color: white;
    width: 1%;
    transition: 0.5s;
}


#botoes>a:hover {
    color: #fcdc00;
}


#textcenter {
    justify-content: center;
    align-items: center;
}


#textcenter {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 25vh;
    width: 30%;
}


#bit {
    font-family: "poppins", sans-serif;
    color: white;
    font-size: 35px;
    font-weight: 200;
    margin-bottom: 35px;
}


#price {
    text-align: center;
    font-family: "poppins", sans-serif;
    color: white;
    font-size: 15px;
}


#center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}


#explore {
    background-color: #fcdc00;
    height: 40px;
    width: 10%;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "poppins", sans-serif;
    font-weight: 600;
    position: absolute;
    top: 60%;
    left: 45%;
}


#categoriacenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}


#galeria {
    height: 150vh;
    background-color: #f9f9ff;
}


#categorias {
    background-color: white;
    border-style: none;
    display: flex;
    justify-content: center;
    height: 5vh;
    width: 60%;
}


#categorias>a {
    border-left: 1px ridge;
    font-size: 12px;
    font-weight: 600;
    font-family: "poppins", sans-serif;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    background-color: white;
    transition: 0.5s;
}


#unviwed {
    border-right: 1px ridge;
}


#categorias>a:hover {
    background-color: #fcdc00;
    box-shadow: 1px 5px 5px #868e96;
}


#imggaleriacenter {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}


#imagens {
  display: flex;
  flex-wrap: wrap;
  justify-content: spa;
  gap: 20px;
  max-width: 1200px;
}


.image-card {
  width: 292px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  text-decoration: none;
  display: block;
  position: relative;
}


.image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.image-card span {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* escurece ao hover */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s ease;
}


.image-card:hover .overlay {
  opacity: 1;
}


.text {
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}


.icon {
  color: white;
  font-size: 24px;
}

